[submodule "packages/ru_ru"]
	path = packages/ru_ru
	url = https://github.com/likhobory/SuiteCRM7RU.git
[submodule "packages/erp"]
	path = packages/erp
	url = https://github.com/hardsoft321/hs321_erp.git
[submodule "packages/erp_forms"]
	path = packages/erp_forms
	url = https://github.com/hardsoft321/hs321_erp_forms.git
[submodule "packages/erp_genData"]
	path = packages/erp_genData
	url = https://github.com/hardsoft321/hs321_erp_genData
